.approvalWrap{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.approvalSidebarWrap{
  background-color: rgb(255, 255, 255);
}

.approvalContentWrap{
  background-color: rgb(139, 139, 198);
  flex-grow: 1;
}