.container {
  display: flex;
}
.child{
  margin : auto;
  margin-top:180px;
}
.inputbox{
  margin-left : 10%;
}
.input {
  width : 200px;
}
.header {
  font-size: 50px;
}

.button{
  margin-left : 25%;
  font-size: medium;
  height: 30px;
  width : 80px;
  background-color: rgb(161, 209, 145);
  color: white;
  border: none;
  border-radius: 5px;
}

.error{
  color : red;
  font-size: 12px;
}