input, option, select{
    width: 100%;
}

textarea{
    width: 100%;
    height: 25vh;
}

.programWrap{
    height: 100%;
    display: grid;
    grid-template-areas: 
    "programSidebarWrap programTitleBar"
    "programSidebarWrap innerContentLayout";
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 70px 1fr;
    background-color: rgb(231, 233, 246);
    overflow-y: auto;
}

.programTitleBar{
    grid-area: programTitleBar;
    font-size: 1.2rem;
    padding-top: 22px;
    background-color: rgb(231, 233, 246);
}

.programSidebarWrap{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin: 20px;
    grid-area: programSidebarWrap;
}

.innerContentLayout{
    grid-area: innerContentLayout;
    background-color: rgb(231, 233, 246);
    margin-bottom: 20px;
}

.programInfoWrap{
    height: 100%;
    display: grid;
    grid-template-areas: 
    "programContentWrap programDetailWrap"
    "programContentWrap programDetailWrap"
    "programContentWrap programDetailWrap";
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
}

.programContentWrap{
    grid-area: programContentWrap;
    /* background-color: rgb(117, 120, 74); */
    overflow: auto; /* 내용이 넘칠 경우 스크롤바를 추가 */
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px 0 0;
    padding: 10px;
}
.programDetailWrap{
    grid-area: programDetailWrap;
    overflow: auto; /* 내용이 넘칠 경우 스크롤바를 추가 */
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px 0 0;
    padding: 10px;
}

.littleTitleBar{
    padding: 0 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: left;
}

/* 세로 페이지 출력시(화면 절반에 적당) */
@media print {
    @page {
        size: A4 portrait;
        margin: 20mm;
    }
    body {
        zoom: 0.7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

.programPagination{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 10px 10px 10px;
}