/* 페이지 출력 컴포넌트 모듈.css에 추가, 사용하려는 출력설정만 사용*/


/* 가로 페이지(축소정도에 따라 zoom 조절) */
@media print {
    @page {
        size: A4 landscape;
        margin: 20mm;
    }
    body {
        zoom: 0.7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}



/* 세로 페이지 출력시(화면 절반에 적당) */
@media print {
    @page {
        size: A4 portrait;
        margin: 20mm;
    }
}
