.messageWrap{
  height: 100%;
  display: grid;
  grid-template-areas: 
  "profileWrap messageTitleBar"
  "profileWrap messageContentWrap"
  "messageSidebarWrap messageContentWrap"
  ;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 70px 310px 3fr;
  background-color: rgb(231, 233, 246);
}

.messageSidebarWrap{
  grid-area: messageSidebarWrap;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin: 0 20px 20px 20px;
}
.profileWrap{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items:center;
  background-color: rgb(255, 255, 255);
  grid-area: profileWrap;
  border-radius: 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin: 20px;
}
.profileWrap img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 20px;
}

.messageTitleBar{
  grid-area: messageTitleBar;
  background-color: rgb(231, 233, 246);
  font-size: 2.0rem;
  padding:10px;
}

.messageContentWrap{
  grid-area: messageContentWrap;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  margin: 0 20px 20px 0;
}

.messageListWrap{
  height:100%;
  display: grid;
  grid-template-areas: 
  "messageListHeader messageListHeader"
  "messageListContent messageListContent"
  "messageListPagination messageListPagination"
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 6fr 50px;
}

.messageListHeader{
  display: grid;
  grid-area: messageListHeader;
  background-color: rgb(255, 255, 255);
  min-width: 790px;
  padding:10px 10px;
  margin:10px;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1.5fr 1fr;
  
}
.datepickerTitle{
  background-color: rgb(244, 244, 244);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.datepicker{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 10px;
}
.datepicker > *{
  padding: 5px;
}

.searchTitle{
  background-color: rgb(244, 244, 244);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(214, 214, 214);
  font-size: 1.2rem;
}
.searchBar{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10px;
  border-top: 1px solid rgb(214, 214, 214);
} 

.messageListContent{
  background-color: rgb(255, 255, 255);
  grid-area: messageListContent;
  margin:10px;
  padding:10px;
}

.messageListPagination{
  grid-area: messageListPagination;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 10px 10px 10px;
}
/* message write start */
.writeWrap{
  height:100%;
  display: grid;
  grid-template-areas: 
  "writeBtnGroup writeBtnGroup"
  "writeHeader writeHeader"
  "writeContent writeContent"
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 6fr;
  margin: 0 20%;
  border: 1px solid lightgray;
  background-color: white;
}
.writeBtnGroup{
 grid-area: writeBtnGroup;
 padding: 10px 30px;
}
.writeHeader{
  grid-area: writeHeader;
  padding: 10px 30px;
}
.writeContent{
  grid-area: writeContent;
  margin: 0 30px 10px;
}



/* message write end */

/* message detail start */

.detailWrap{
  height:100%;
  display: grid;
  grid-template-areas: 
  "detailBtnGroup detailBtnGroup"
  "detailHeader detailHeader"
  "detailContent detailContent"
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 6fr;
  margin: 0 20%;
  min-width: 600px;
  background-color: white;
  border: 1px solid lightgray;
}

.detailBtnGroup{
  grid-area: detailBtnGroup;
  padding: 0 5%
}

.detailHeader{
  grid-area: detailHeader;
  padding: 0 5%
}

.detailContent{
  grid-area: detailContent;
  padding: 0 5%;
}