.MemberContainerLayout{
    height: 100%;
    display:grid;
    grid-template-areas:
    "sidebarLayout memberTitlebar"
    "sidebarLayout innerContentLayout";
    grid-template-columns: 0.5fr 5fr;
    grid-template-rows: 0.5fr 5fr;
    background-color: rgb(231, 233, 246);
    overflow-y: auto;
}

.sidebarLayout{
    grid-area: sidebarLayout;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin: 20px;
}

.innerContentLayout{
    grid-area: innerContentLayout;
    background-color: rgb(231, 233, 246);
}

.memberTitlebar{
    grid-area: memberTitlebar;
    font-size: 1.2rem;
    padding-top: 22px;
    background-color: rgb(231, 233, 246);
}

.InnerMemberLayout{
    height: 100%;
    display:grid;
    grid-template-areas:
    "leftMemberLayout rightMemberLayout1"
    "leftMemberLayout rightMemberLayout2"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    background-color: rgb(231, 233, 246);
}
.InnerMemberLayout2{
    height: 100%;
    display:grid;
    grid-template-areas:
    "leftMemberLayout rightMemberLayout1"
    "leftMemberLayout rightMemberLayout1"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}

.leftMemberLayout{
    grid-area: leftMemberLayout;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 20px 20px 0;
    flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
   
}

.rightMemberLayout1{
    grid-area: rightMemberLayout1;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 20px 20px 0;
     flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
    
}

.rightMemberLayout2{
    grid-area: rightMemberLayout2;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 20px 20px 0;
       
}

.InnerMemberLayout3{
    height: 100%;
    display:grid;
    grid-template-areas:
    "leftMemberLayout rightMemberLayout1"
    "leftMemberLayout rightMemberLayout3"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr ;
    background-color: rgb(231, 233, 246);
}

.rightMemberLayout3{
    grid-area: rightMemberLayout3;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 20px 20px 0;
       
}