.homeWrap{
  height: 100%;
  display: grid;
  grid-template-areas: 
  "profileWrap homeInnerContentWrap"
  "sidebarWrap homeInnerContentWrap"
  ;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 330px 1fr;

}

.profileWrap{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items:center;
  background-color: rgb(243, 243, 243);
  grid-area: profileWrap;
  border-right: 1px solid lightgray;
}
.profileWrap img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 20px;
}

.sidebarWrap{
  background-color: rgb(255, 255, 255);
  grid-area: sidebarWrap;
  border-right: 1px solid lightgray;
  
}

.homeInnerContentWrap{
  grid-area: homeInnerContentWrap;
}

.at {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}