.programCalWrap{
    height: 100%;
    min-width: 1100px;
    display: grid;
    grid-template-areas: 
    "mainTitleWrap  subTitleWrap"
    "monthWrap listWrap"
    "monthWrap listWrap";
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr fr;
    align-items: stretch; /* 섹션 높이 일치 */
}

.mainTitleWrap, .subTitleWrap{
    margin-right: 5px;
    font-size : 1.5rem;
    padding: 0 10px;
    font-weight: bolder;
}

.headerWrap {
    display: flex;
    justify-content: space-between;  
    align-items: baseline; /* 섹션 높이 일치 */
}

.searchDropdownWrap {
    display: flex;
}

.searchDropdownWrap > *:not(:last-child) {
    margin-right: 5px;
}
.monthWrap{
    grid-area: monthWrap;
    width: 100%;
    overflow: auto; /* 내용이 넘칠 경우 스크롤바를 추가 */
    padding: 2px;
    text-align: center;
    margin-right: 2px;
    height: 100%;
}
.listWrap{
    width: 98%;
    grid-area: listWrap;
    overflow: auto; /* 내용이 넘칠 경우 스크롤바를 추가 */
    text-align: center;
    padding: 2px;
    margin-left: 2px;
    height: 100%;
}
