.empListsWrap {
    height: 100%;
    display: grid;
    grid-template-areas: 
    "empSidebarWrap empTitleBar"
    "empSidebarWrap innerContentWrap"
    ;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 0.1fr 1fr;
    background-color: rgb(231, 233, 246);
    overflow-y: auto;
  }
  
  .empListSidebarWrap{
    grid-area: empSidebarWrap;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin: 20px;
  }
  
  .empListTitleBar{ 
    grid-area: empTitleBar;
    background-color: rgb(231, 233, 246);
    font-size: 1.2rem;
    padding-top: 22px;
  }

  .innerContentWrap{
    grid-area: innerContentWrap;
    background-color: rgb(255, 255, 255);
    font-size: 2.0rem;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px 0;
    padding:10px;
  }
  
  .searchbar{
    position: absolute;
    bottom: 2px;
    right: 100%
  }
  .refreshButton{
    position: absolute;
    bottom: 2px;
    left: 30%;
  }
  .result{
    bottom: 2px;
    right: 4%;
  }

  .container {
    position: relative;
    left: 92%;
    
  }
