.MypageContainerLayout{
    height: 100%;
    display:grid;
    grid-template-areas:
    "mypageTitlebar"
    "innerContentLayout";
    grid-template-rows: 0.5fr 5fr;
}
.mypageTitlebar{
    grid-area: mypageTitlebar;
    background-color: white;
    font-size: 2.0rem;
    padding: 10px;
}
.innerContentLayout{
    grid-area: innerContentLayout;
    background-color: rgb(121, 141, 162);
}