.MypageContainerLayout{
    height: 100%;
    display:grid;
    grid-template-areas:
    "sidebarLayout mypageTitlebar"
    "sidebarLayout innerContentLayout";
    grid-template-rows: 0.5fr 7fr;
    grid-template-columns: 0.5fr 5fr;
    background-color: rgb(231, 233, 246);
    overflow-y: auto;
}
.sidebarLayout{
    grid-area: sidebarLayout;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin: 20px;
}
.mypageTitlebar{
    grid-area: mypageTitlebar;
    background-color: rgb(231, 233, 246);
    font-size: 1.2rem;
    padding-top: 22px;
}
.innerContentLayout{
    grid-area: innerContentLayout;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    margin: 0 20px 20px 0;
}