.dashboardWrap{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px 0;
    padding: 10px;
    height: 100%;
}

.chartWrap{
    height: 100%;
    overflow: auto; /* 내용이 넘칠 경우 스크롤바를 추가 */
    padding: 5px;
    text-align: center;
    align-items: center;
}

.chartName{
    text-align: left;
}

/* 가로 페이지(축소정도에 따라 zoom 조절) */
@media print {
    @page {
        size: A4 landscape;
        margin: 20mm;
    }
    body {
        zoom: 0.7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}
