/* 리차트 효과 */

.chartContainer{
    width: 95%;
    height: 94%;
    overflow: hidden; /* 애니메이션 효과를 위해 overflow: hidden; 설정 */
}
.recharts-surface {
    transition: transform 0.5s ease; /* 애니메이션 효과 설정 */
}

.recharts-legend-item-text {
    font-weight: bold; /* 범례 텍스트를 두껍게 만듭니다. */
}


/* 전체 효과 */
.dashboardWrap{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px 0;
    padding: 10px;
    height: 100%;
}

.chartWrap{
    flex-basis: 50%;
}

.chartName{
    text-align: left;
}

.btn{
    align-items: flex-end;
}

/* 가로 페이지(축소정도에 따라 zoom 조절) */
@media print {
    @page {
        size: A4 landscape;
        margin: 20mm;
    }
    body {
        zoom: 0.7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}
