<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk - 예약상담1</title>
    <link rel="stylesheet" href="/public/talk.css">
</head>
<body>
    <!-- defer 속성 추가 확인할것 -->
    <script defer src="/public/client.js"></script>
    <div class="talkContainer">
        <h3 id="title">전체채팅</h3>
        <div id="talks">채팅 목록</div>
        <hr>
        <form id="form">
            <input type="text" id="input" placeholder="메세지를 입력하세요." >
            <button id="send">보내기</button>
        </form>
    </div>
</body>
</html>