.appWrap{
  height:100vh;
  max-height: 100vh;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 6fr 0.3fr;
}

.appHeaderWrap{
  background-color: azure;
}

.appContentWrap{
  height: 100%;
  background-color: rgb(71, 102, 133);
}

.appFooterWrap{
  background-color: blanchedalmond;
}