.empInfoWrap {
  background-color: white;
  border: 1px solid lightgray;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-areas: 
  "empPicture empInfo1 empInfo2"
  "empPicture empInfo3 empInfo4"
  "empPicture empInfo5 empInfo6"
  "empPicture empInfo7 empInfo8"
  "empPicture empInfo9 empInfo9"
  "empPicture empInfo10 empInfo11"
  "empPicture empInfo12 empInfo13"
  "empPicture empInfo14 empInfo15"
  "empPicture empInfo16 empInfo17";
}

.empPicture{
  /* border: 1px solid lightgray; */
  grid-area: empPicture;
  background-color: white;

}
.empInfo1{
  border: 1px solid lightgray;
  grid-area: empInfo1;
}
.empInfo2{
  border: 1px solid lightgray;
  grid-area: empInfo2;
}
.empInfo3{
  border: 1px solid lightgray;
  grid-area: empInfo3;
}
.empInfo4{
  border: 1px solid lightgray;
  grid-area: empInfo4;
}
.empInfo5{
  border: 1px solid lightgray;
  grid-area: empInfo5;
}
.empInfo6{
  border: 1px solid lightgray;
  grid-area: empInfo6;
}
.empInfo7{
  border: 1px solid lightgray;
  grid-area: empInfo7;
}
.empInfo8{
  border: 1px solid lightgray;
  grid-area: empInfo8;
}
.empInfo9{
  border: 1px solid lightgray;
  grid-area: empInfo9;
}
.empInfo10{
  border: 1px solid lightgray;
  grid-area: empInfo10;
}
.empInfo11{
  border: 1px solid lightgray;
  grid-area: empInfo11;
}
.empInfo12{
  border: 1px solid lightgray;
  grid-area: empInfo12;
}
.empInfo13{
  border: 1px solid lightgray;
  grid-area: empInfo13;
}
.empInfo14{
  border: 1px solid lightgray;
  grid-area: empInfo14;
}
.empInfo15{
  border: 1px solid lightgray;
  grid-area: empInfo15;
}

.selectBox {
  border: 1px solid lightgray;
  background: transparent;
  margin: 4px;
  padding-left: 50px;
  position: relative; /* 절대 위치 지정 */
  font-size: 15px;
}

.selectContainer {
  position: relative; /* 상대 위치 지정 */
  margin-right: 15px;
}

.inputFields {
  border: 1px solid lightgray;
  background: transparent;
  margin: 1px;
  padding-left: 50px;
  font-size: 0.8rem;
}

.empDetailInfo {
  padding: 0px 20px 20px 20px;
  border-left: 1px solid lightgray;
}

.empBaseInfo {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid lightgray;
}

.empBaseTable {
  font-size: 0.8rem;
}